div.hideblock .close {
  display: none;
}
div.hideblock {
  display: block;
}

.block:hover .hideblock .close {
  display: block;
}

.hideblock span {
  cursor: pointer;
  color: #0071b3;
}

.hideblock span:hover {
  color: #018fe2;;
}
